header{
  background-image: url(img.jpg);
  
}
body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
body{
  background-image: url(i.jpg);
background-repeat: no-repeat;

}

footer{
  background-image: url(img.jpg);
}

.section{
  background-image: url(img.jpg);
}

.sect{
  background-image: url(img.jpg);
}

body{
  background-image: url(ijpg);
}
